<?php

/*
*
*	Junk_report configuration file
*
*/

//Formatted dsn of ispconfig db
$config['dsn_ispconfig'] = "mysql://user:pass@server/dbname";

//Name of the mail host
$config['mail_host']="name.host";

//Path to the domain file
$config['dir'] = "/var/vmail";

//Default value for the frequency of sending the junk report
$config['default_frequency'] = "daily";

//Default value for the number of junk mails in the junk report
$config['default_maxlength'] = 20;

//Day of the weekly report
//Specified in letter
$config['day_of_weekly_report'] = "Sunday";

//Day of the monthly report
//Specified with two-digit number
$config['day_of_monthly_report'] = 01;

//Alternative text if the mail does not contain a subject
$config['no_subject'] = "Aucun objet";

//Header settings
$header[] = "From : ";
$header[] = "Content-type: text/html; charset=UTF-8";

//Subject of the junk report
$config['subject'] = "Rapport de spam";

//Sleep time between sending emails in micro secondes
$config['sleep_time'] = 200000;

// Absolute path of the file containing the mail to send
// Must to be written in html
// Add {{spam_table}} somewhere to show where the spam table should be in your mail otherwise it will be placed at the end.
// It must also be alone in a line.
$config['path_to_mail'] = "/path/to/template_mail";


